.App {
  display: block;
}

.store-nav{
  height: 70px;
  background: #3CC2FF;
}

.store-nav .nav-title{
  font-weight: bold;
}

.main-bg{
  height: 400px;
  background-size: cover;
  background-position: center;
}

.product-box{
  text-align: center;
  margin-top: 10px;
}

.product-box h4{
  font-weight: bold;
}

.detail-page{
  margin-top: 30px;
}