.App {
  display: block;
}

.store-nav{
  height: 70px;
  background: #3CC2FF;
}

.store-nav .nav-title{
  font-weight: bold;
}

.main-bg{
  height: 400px;
  background-size: cover;
  background-position: center;
}

.container{
  text-align: center;
  margin: 10px 0 10px 0;
}

.col-md-4 h4{
  font-weight: bold;
}

.go-detail{
  text-decoration: none;
  font-weight: bold;
  color: #000;
  border: 1px solid #000;
}

.start{
  opacity: 0;
}

.end{
  opacity: 1;
  transition: all 0.5s;
}

.button{
  background-color: #fff;
  font-weight: bold;
  border: 1px solid #a3a3a3;
  color: #a3a3a3;
  border-radius: 5px;
}

.watched{
  border: #000 1px solid;
  text-align: center;
  width: 200px;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  z-index: 9999;
}

.watched h5{
  padding-top: 10px;
}

.x{
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  border: #a3a3a3 1px solid;
  padding: 0px 7px 2px 7px;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
