.App {
  display: block;
}

.store-nav{
  height: 70px;
  background: #3CC2FF;
}

.store-nav .nav-title{
  font-weight: bold;
}

.main-bg{
  height: 400px;
  background-size: cover;
  background-position: center;
}

.container{
  text-align: center;
  margin: 10px 0 10px 0;
}

.col-md-4 h4{
  font-weight: bold;
}

.go-detail{
  text-decoration: none;
  font-weight: bold;
  color: #000;
  border: 1px solid #000;
}

.start{
  opacity: 0;
}

.end{
  opacity: 1;
  transition: all 0.5s;
}

.button{
  background-color: #fff;
  font-weight: bold;
  border: 1px solid #a3a3a3;
  color: #a3a3a3;
  border-radius: 5px;
}

td:nth-child(4){
  width: 19%;
}
td:nth-child(5){
  width: 10%;
}
